.headernavposicion{
    position: sticky;
    width: 100%;
    background-color: #c8c8c8;
    padding: 0px;
    top: 0px;
    z-index: 1;
}

.headernav{
    font-weight: bold;
    color: black;
    background-color: #c8c8c8
}

header {
    background-color: #c8c8c8
}

.imagenav{
   width: 120px;
   height: 120px;
}

.btnmilo{
    background-color: #c8c8c8;
    border: black;
    border-style:outset;
}